{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - Nom du site{% endblock %}

{% block content %}
    <h1>Modifier mon mot de passe</h1>

    <a href="{{ path('account') }}">Retour au compte</a>
    <hr>

    {{ form(form) }}
{% endblock %}
